*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Teko', sans-serif;
}


.contenedor-imagen{
  width: 100%;
  height: 100vh;
  background-image: url(/src/imagenes/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.titulo{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.titulo h1 a{
    color: #b5d829;
    text-decoration: none;
    display: flex;
    font-size: 5rem;
    margin: 1rem;
    font-family: 'Monoton', cursive;
}



.contenedor-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: #1c0d02;  
}
.contenedor-menu-nombre h2{
  color: #b5d829;
  margin-left: 1rem;
  font-size: 1.5rem;
  font-family: 'Monoton', cursive;
}
.contenedor-menu-nombre h2:hover{
  color: #FEFAF1;
  transition: 0.5s;

}
.lista-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lista-menu li{
    display: flex;
    font-size: 1.2rem;
    margin: 1rem;
    color: #b5d829;
}
.lista-menu li p:hover{
  color: #FEFAF1;
  transition: 0.5s;
}
.cart{
    display: flex;
    padding: 2rem;
    align-items: center;
    color: #b5d829;
}
.fa-solid{
    cursor: pointer;
    font-size: 1.5rem;
    height: 1.5rem;
    color: #b5d829;
}
.fa-solid:hover{
  transform: scale(1.1);
  transition: 0.2s;
}



.categorias{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}
.categorias p{
  cursor: pointer;
  font-size: 1.2rem;
  color: black;
}



.contenido-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
}
  .tarjetas {
    height: 22rem;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    box-shadow: 0px 0px 7px 3px #b5d829;
    -webkit-box-shadow: 0px 0px 7px 3px #b5d829;
    -moz-box-shadow: 0px 0px 7px 3px #b5d829;
  }
  .tarjetas:hover{
    transform: scale(1.05);
    transition: 0.4s;
  }
  .tarjetas img {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  .contenido-tarjetas{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    
  }
  .nombre{
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
  }
  .price {
    display: flex;
  }
  .stock{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .categoria{
    color: #b5d829;
  }
  .boton-prod {
    border-radius: 7px;
    width: 5rem;
    padding: 5px;
    cursor: pointer;
  }
  .boton-prod:hover{
    background-color: #b5d829 ;
    color: white;
    transition: 0.5s;
  }
  .titulo-camisetas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    font-size: 5rem;
    background: rgb(28,13,2);
    background: radial-gradient(circle, rgba(28,13,2,1) 0%, rgba(181,216,41,1) 85%);
    color: rgba(181,216,41,1);
    text-decoration: underline;
    border-radius: 50px;
  }

  .contenedor-ancho-detail{
    margin: 5rem;
  }
  .columna-detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .contenedor-imagen-detail img{
    width: 30rem;
  }
  .detail-products{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .detail-nombre{
    text-align: center;
    margin: 3rem;
    font-size: 2.5rem;
    text-decoration:overline;
    font-family: 'Fugaz One', cursive;
  }
  .detail-desc{
    text-align: center;
    margin: 2rem;
    font-size: 1.5rem;
  }
  .detail-desc p{
    color: #b5d829;
  }
  .detail-precio{
    display: flex;
    margin-top: 3rem;
  }
  .detail-precio p{
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
    color: #b5d829;
  }
  .detail-boton{
    display: flex;
    justify-content: center;
    margin: 2rem;
  }
  .detail-boton button{
    padding: 1rem;
    width: 15rem;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
  }
  .detail-boton button:hover{
    background-color: #b5d829;
    transition: 0.5s;
  }
  .contenedor-contador{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenedor-contador button{
    padding: 0.5rem;
  }
  .contenedor-contador span{
    font-size: 1rem;
    margin: 1rem;
  }
  .container-footer{
    background-color: #b5d829;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20rem ;
  }
  .seccion-footer{
    flex-direction: column;
  }
  .seccion-footer h2{
    font-size: 2rem;
    text-decoration: overline;
  }


  .carrito-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
    box-shadow: -1px 2px 11px 3px rgba(0,0,0,1);
    -webkit-box-shadow: -1px 2px 11px 3px rgba(0,0,0,1);
    -moz-box-shadow: -1px 2px 11px 3px rgba(0,0,0,1);
  }
  .carrito-content img{
    width: 8rem;
  }
  .carrito-vacio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15rem;
  }
  .carrito-vacio h2{
    font-size: 3rem;
  }
  .carrito-vacio button{
    margin: 1rem;
    padding: 1rem;
    width: 15rem;
  }
  .carrito-vacio button:hover{
    background-color: #b5d829;
    cursor: pointer;
    transition: 0.2s;
  }
.boton-finalizar{
  display: flex;
  justify-content: center;
}
.ov-btn-slide-left {
  background: #000000; 
  color: #b5d829;
  border: 2px solid #b5d829;
  padding: 16px 20px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
}
.ov-btn-slide-left:hover {
  color: #000000; /* color de fuente hover */
}
.ov-btn-slide-left::after {
  content: "";
  background: #b5d829; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.ov-btn-slide-left:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}